.dark-theme{
  background-color: var(--bkg-cadastro-operadora);
  color: var(--txt-color);
}

.card{
  color: var(--txt-color);
  background-color: var(--bkg-card);
}

#form-label{
  color: var(--txt-color);
}

.form-select{
  background-color: var(--bkg-card);
  color: var(--txt-color);
}

.form-control{
  background-color: var(--bkg-card);
  color: var(--txt-color);
}

table{
  color: var(--txt-color);
  background-color: var(--bkg-card);
}

th{
  color: var(--txt-color);
  text-transform: uppercase;
}

td{
  color: var(--txt-color);
  text-transform: uppercase;
}

#paginador{
  color: var(--txt-color);
  background-color: var(--bkg-card);
}

i{
  cursor: pointer;
}

#btn-buscar{
  margin-top: 30px;
  background-color: #058288;
  color: white;
}

#btn-trash{
  margin-top: 30px;
}

.no-scroll ::ng-deep .mat-mdc-tab-body-content {
  overflow: hidden !important;
}

#btn-cobranca{
  background-color: #073763;
  color: white;
}

#statusPendente{
  color: red;
}

#statusPronto{
  color: green;
}
