.cabecalho{
  border-bottom: 3px solid var(--linha-cabecalho);
}

.cabecalho_dark-theme{
  background-color: var(--bkg-card);
  color: var(--txt-color);
  border-bottom: 3px solid var(--linha-cabecalho);
}

.logo-amhp{
  width: 130px;
  height: 60px;
}

a{
  color: black;
  text-decoration: none;
}

i{
  font-size: 20px;
}

button{
  border-radius: 100px;
  color: var(--txt-color);
}

button:hover {
  background-color: lightgray;
  transform: scale(1.05);
  transition: all 0.3s;
}
