<body [ngClass]="modoEscuroCriarConta ? 'dark-theme' :''">
  <div class="container">
    <div class="row">
      <div class="col d-flex">
        <div class="fs-2">
          <a (click)="voltar()">
            <i class="bi bi-arrow-left"></i>
          </a>
        </div>
        <h1 class="text-center mt-2 ms-2">Início</h1>
      </div>
    </div>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
      <mat-tab label="Conta">
        <form class="card mt-3 p-4" id="card">
          <div class="row">
            <div class="col-11 fs-4 d-flex justify-content-center">
              <b class="text">Conta</b>
            </div>
            <div class="col-1 fs-4 mb-2" *ngIf="this.unidadeAtendimento == 11 || this.unidadeAtendimento == 8">
              <div class="d-flex justify-content-end">
                <span class="icon">
                  <i class="bi bi-hospital" (click)="open(internacao)"></i>
                </span>
              </div>
              <ng-template #internacao let-modal>
                <app-modal-internacao [idUnidadeAtendimento]="this.unidadeAtendimento" [nroConta]="this.numeroConta" [idInternacao]="this.idInternacao"></app-modal-internacao>
              </ng-template>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="form-label">Operadora</label>
              <select class="form-select" [(ngModel)]="idOperadora" name="idOperadora">
                <option *ngFor="let o of operadoras" [ngValue]="o.id">
                  {{ o.apelido }}
                </option>
              </select>
            </div>
            <div class="col">
              <div>
                <label class="form-label">Status da conta</label>
                <select class="form-select" [(ngModel)]="idStatusConta" name="idStatusConta">
                  <option *ngFor="let s of statusDaConta" [ngValue]="s.id">
                    {{ s.descricao }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <label class="form-label">Data Criação</label>
              <input type="text" class="form-control" [(ngModel)]="dataCriacao" name="dataCriacao" [textMask]="{ mask: data }"/>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="form-label"> Número da conta </label>
              <input type="text" class="form-control" [(ngModel)]="numeroConta" name="numeroConta"/>
            </div>
            <div class="col">
              <label class="form-label">Registro</label>
              <input type="text" class="form-control" [(ngModel)]="registro" name="registro"/>
            </div>
            <div class="col">
              <label class="form-label">Data Atendimento</label>
              <input type="text" class="form-control" [(ngModel)]="dataAtendimento" name="dataAtendimento" (blur)="calcularData()" [textMask]="{ mask: data }" required/>
            </div>
            <div class="col">
              <label class="form-label">Hora Atendimento</label>
              <input type="time" class="form-control" [(ngModel)]="horaAtendimento" name="horaAtendimento"/>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label class="form-label">Acomodação</label>
              <select class="form-select" [(ngModel)]="idAcomodacao" name="idAcomodacao">
                <option *ngFor="let a of Acomodacao" [ngValue]="a.id">
                  {{ a.nome }}
                </option>
                <!-- CTI -->
                <option value="7" *ngIf="this.unidadeAtendimento == 11">UTI A</option>
                <option value="8" *ngIf="this.unidadeAtendimento == 11">UTI B</option>
                <option value="9" *ngIf="this.unidadeAtendimento == 11">UTI C</option>
                <option value="10" *ngIf="this.unidadeAtendimento == 8">UTI B2</option>
                <option value="11" *ngIf="this.unidadeAtendimento == 8">UTI B3</option>
                <option value="12" *ngIf="this.unidadeAtendimento == 8">UTI C1</option>
                <option value="13" *ngIf="this.unidadeAtendimento == 8">UTI C2</option>
                <option value="14" *ngIf="this.unidadeAtendimento == 8">UTI C3</option>
                <!-- _________________________________________________________________________________________________ -->
              </select>
            </div>
            <div class="col">
              <label class="form-label">Número Acomodação</label>
              <input type="text" class="form-control" [(ngModel)]="nroAcomodacao" name="nroAcomodacao"/>
            </div>
            <div class="col">
              <label class="form-label"> Status Validade </label>
              <select class="form-select" [(ngModel)]="idStatusValidade" name="idStatusValidade" disabled>
                <option *ngFor="let s of listaStatusValidade" [ngValue]="s.id">
                  {{ s.descricao }}
                </option>
              </select>
            </div>
            <div class="col">
              <label class="form-label">Periodo Parcial</label>
              <input type="text" class="form-control" [(ngModel)]="periodoParcial" name="periodoParcial"/>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <label class="form-label">Observação</label>
              <textarea [(ngModel)]="observacao" name="observacao"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="text-center">
                <button class="btn btn-success mt-2" type="submit" (click)="criarConta()" [disabled]="isBotaoDesabilitado">
                  Salvar
                </button>
                <button class="btn ms-2 mt-2" id="btn-nota-debito" (click)="gerarNotaDeDebito()" *ngIf="this.idConta != undefined && (this.unidadeAtendimento == 11 || this.unidadeAtendimento == 8)">
                  Gerar Nota de Debito
                </button>
                <button class="btn ms-2 mt-2" id="btn-excluir-conta" (click)="inativarConta(idConta)" *ngIf="this.idConta != undefined && (this.unidadeAtendimento == 11 || this.unidadeAtendimento == 8) && this.idUsuario == 43497636">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>
          </div>
        </form>
        <mat-tab-group class="mt-3" mat-stretch-tabs="false" mat-align-tabs="start">
          <mat-tab label="Plantões" *ngIf="this.unidadeAtendimento == 8 || this.unidadeAtendimento == 11">
            <div class="d-flex flex-row">
                <p class="mt-3 w-100" *ngFor="let p of plantoes">{{p.quantidade}} - {{p.nomeServico}}</p>
                <button class="btn flex-shrink-1 fs-3" matTooltip="Vizualizar Serviços" (click)="mostraServicosInativos()">
                  <div *ngIf="this.mostraOlho == true">
                    <i class="bi bi-eye"></i>
                  </div>
                  <div *ngIf="this.mostraOlho == false">
                    <i class="bi bi-eye-slash"></i>
                  </div>
                </button>
            </div>
            <app-spinner></app-spinner>
            <table mat-table [dataSource]="dataSourcePlantoes">
              <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Data
                </th>
                <td mat-cell *matCellDef="let plantao" class="text-center">
                  {{ plantao.dataServico | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Descricao
                </th>
                <td mat-cell *matCellDef="let plantao" class="text-center">
                  {{ plantao.servicoObject.descricao }}
                </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Status
                </th>
                <td mat-cell *matCellDef="let plantao" class="text-center">
                  {{ plantao.statusCobrancaObject.descricao }}
                </td>
              </ng-container>

              <ng-container matColumnDef="medico">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Médico
                </th>
                <td mat-cell *matCellDef="let servico" class="text-center">
                  <span *ngIf="servico.profissionalObject">
                    {{ servico.profissionalObject.nome }}
                  </span>
                  <span *ngIf="!servico.profissionalObject">
                    -
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Valor Total
                </th>
                <td mat-cell *matCellDef="let plantao" class="text-center">
                  <span *ngIf="plantao.novaPropriedade">
                    R$ {{ plantao.novaPropriedade.ValorTotal }}
                  </span>
                  <span *ngIf="!plantao.novaPropriedade">
                    -
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Editar
                </th>
                <td mat-cell *matCellDef="let servico" class="text-center">
                  <button class="btn fs-4" (click)="open(statusServicoModal)">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <ng-template #statusServicoModal let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">
                        Edição de serviços
                      </h4>
                      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <div class="p-5">
                      <label class="form-label">Status Serviço</label>
                      <select class="form-select" [(ngModel)]="statusServico" name="statusServico">
                        <option *ngFor="let c of StatusCobranca" [ngValue]="c.id">
                          {{ c.nome }}
                        </option>
                      </select>
                      <div class="text-center">
                        <button class="btn w-75 m-3" id="btn-cobranca" (click)="atualizaStatusServico(servico.id,servico.servicoObject.descricao)">
                          Salvar Status do Serviço
                        </button>
                      </div>
                    </div>
                  </ng-template>
                </td>
              </ng-container>

              <ng-container matColumnDef="limpar">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  <span class="Inativos" *ngIf="this.mostraOlho == false">
                    Serviços Inativos
                  </span>
                </th>
                <td mat-cell *matCellDef="let servico" class="text-center">
                  <button class="btn fs-4" (click)="trocaValorAtivo(servico.id,servico.inativo)">
                    <i class="bi bi-x-circle" *ngIf="this.mostraOlho == true" id="icone-x"></i>
                    <i class="bi bi-check-circle" *ngIf="this.mostraOlho == false" id="icone-check"></i>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="colunasPlantoes"></tr>
              <tr mat-row *matRowDef="let row; columns: colunasPlantoes"></tr>
            </table>
          </mat-tab>

          <!-- CTI e via de cobrança 5(Pacotes) -->
          <!-- <mat-tab label="Pacotes" *ngIf="(this.unidadeAtendimento == 8 || this.unidadeAtendimento == 11) && this.viaCobranca == 5">
            <table mat-table [dataSource]="dataSourcePacotes">
              <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Data
                </th>
                <td mat-cell *matCellDef="let plantao" class="text-center">
                  {{ plantao.dataServico | date : "dd/MM/yyyy" }}
                </td>
              </ng-container>

              <ng-container matColumnDef="descricao">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Descricao
                </th>
                <td mat-cell *matCellDef="let plantao" class="text-center">
                  {{ plantao.servicoObject.descricao }}
                </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Status
                </th>
                <td mat-cell *matCellDef="let plantao" class="text-center">
                  {{ plantao.statusCobrancaObject.descricao }}
                </td>
              </ng-container>

              <ng-container matColumnDef="medico">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Médico
                </th>
                <td mat-cell *matCellDef="let servico" class="text-center">
                  <span *ngIf="servico.profissionalObject">
                    {{ servico.profissionalObject.nome }}
                  </span>
                  <span *ngIf="!servico.profissionalObject">
                    -
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Valor Total
                </th>
                <td mat-cell *matCellDef="let plantao" class="text-center">
                  <span *ngIf="plantao.novaPropriedade">
                    R$ {{ plantao.novaPropriedade.ValorTotal }}
                  </span>
                  <span *ngIf="!plantao.novaPropriedade">
                    -
                  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Editar
                </th>
                <td mat-cell *matCellDef="let servico" class="text-center">
                  <button class="btn fs-4" (click)="open(statusServicoModal)">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                  <ng-template #statusServicoModal let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">
                        Edição de serviços
                      </h4>
                      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                    </div>
                    <div class="p-5">
                      <label class="form-label">Status Serviço</label>
                      <select class="form-select" [(ngModel)]="statusServico" name="statusServico">
                        <option *ngFor="let c of StatusCobranca" [ngValue]="c.id">
                          {{ c.nome }}
                        </option>
                      </select>
                      <div class="text-center">
                        <button class="btn w-75 m-3" id="btn-cobranca" (click)="atualizaStatusServico(servico.id,servico.servicoObject.descricao)">
                          Salvar Status do Serviço
                        </button>
                      </div>
                    </div>
                  </ng-template>
                </td>
              </ng-container>

              <ng-container matColumnDef="limpar">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  <span class="Inativos" *ngIf="this.mostraOlho == false">
                    Serviços Inativos
                  </span>
                </th>
                <td mat-cell *matCellDef="let servico" class="text-center">
                  <button class="btn fs-4" (click)="trocaValorAtivo(servico.id,servico.inativo,servico.servicoObject.descricao)">
                    <i class="bi bi-x-circle" *ngIf="this.mostraOlho == true" id="icone-x"></i>
                    <i class="bi bi-check-circle" *ngIf="this.mostraOlho == false" id="icone-check"></i>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="colunasPlantoes"></tr>
              <tr mat-row *matRowDef="let row; columns: colunasPlantoes"></tr>
            </table>
          </mat-tab> -->

          <mat-tab label="Serviços Cobrados">
            <div class="card mt-3" id="card">
              <div class="text-end me-3">
                <button class="btn fs-3" matTooltip="Vizualizar Serviços" (click)="mostraServicosInativos()">
                  <div *ngIf="this.mostraOlho == true">
                    <i class="bi bi-eye"></i>
                  </div>
                  <div *ngIf="this.mostraOlho == false">
                    <i class="bi bi-eye-slash"></i>
                  </div>
                </button>
              </div>
              <table mat-table [dataSource]="dataSourceServicosCobrados">
                <ng-container matColumnDef="servicos">
                  <th mat-header-cell *matHeaderCellDef class="text-center">
                    Serviços
                  </th>
                  <td mat-cell *matCellDef="let servico" class="text-center">
                    {{ servico.servicoObject.descricao }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="acomodacao">
                  <th mat-header-cell *matHeaderCellDef class="text-center">
                    Acomodação/Equipe
                  </th>
                  <td mat-cell *matCellDef="let servico" class="text-center">
                    <span *ngIf="servico.equipeCorpoClinicoObject">
                      {{ servico.equipeCorpoClinicoObject.descricao }}
                    </span>
                    <span *ngIf="!servico.equipeCorpoClinicoObject">
                      {{ servico.acomodacaoObject.descricao }}
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="statusCobranca">
                  <th mat-header-cell *matHeaderCellDef class="text-center">
                    Status Cobranca
                  </th>
                  <td mat-cell *matCellDef="let servico" class="text-center">
                    {{ servico.statusCobrancaObject.descricao }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="dataServico" >
                  <th mat-header-cell *matHeaderCellDef class="text-center">
                    Data
                  </th>
                  <!-- CTI -->
                  <td mat-cell *matCellDef="let servico" class="text-center">
                    <span *ngIf="this.unidadeAtendimento == 11 || this.unidadeAtendimento == 8">
                      {{ servico.dataServico | date : "dd/MM/yyyy" }}
                    </span>
                  </td>
                  <!-- ______________________________________________________________________________ -->
                </ng-container>

                <ng-container matColumnDef="medico">
                  <th mat-header-cell *matHeaderCellDef class="text-center">
                    Médico
                  </th>
                  <td mat-cell *matCellDef="let servico" class="text-center">
                    <span *ngIf="servico.nomeProfissional">
                      {{ servico.nomeProfissional }}
                    </span>
                    <span *ngIf="!servico.nomeProfissional">
                      -
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="valor">
                  <th mat-header-cell *matHeaderCellDef class="text-center">
                    Valor Total
                  </th>
                  <td mat-cell *matCellDef="let plantao" class="text-center">
                    <span *ngIf="plantao.servicoValorado">
                      R$ {{ plantao.servicoValorado.valor.ValorTotal }}
                    </span>
                    <span *ngIf="!plantao.servicoValorado">
                      -
                    </span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="editar">
                  <th mat-header-cell *matHeaderCellDef class="text-center">
                    Editar
                  </th>
                  <td mat-cell *matCellDef="let servico" class="text-center">
                    <button class="btn fs-4" (click)="open(statusServicoModal)">
                      <i class="bi bi-pencil-square"></i>
                    </button>
                    <ng-template #statusServicoModal let-modal>
                      <div class="modal-header">
                        <h4 class="modal-title" id="modal-basic-title">
                          Edição de serviços
                        </h4>
                        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                      </div>
                      <div class="p-5">
                        <label class="form-label">Status Serviço</label>
                        <select class="form-select" [(ngModel)]="statusServico" name="statusServico">
                          <option *ngFor="let c of StatusCobranca" [ngValue]="c.id">
                            {{ c.nome }}
                          </option>
                        </select>
                        <div class="text-center">
                          <button class="btn w-75 m-3" id="btn-cobranca" (click)="atualizaStatusServico(servico.id,servico.servicoObject.descricao)">
                            Salvar Status do Serviço
                          </button>
                        </div>
                      </div>
                    </ng-template>
                  </td>
                </ng-container>

                <ng-container matColumnDef="limpar">
                  <th mat-header-cell *matHeaderCellDef class="text-center">
                    <span class="Inativos" *ngIf="this.mostraOlho == false">
                      Serviços Inativos
                    </span>
                  </th>
                  <td mat-cell *matCellDef="let servico" class="text-center">
                    <button class="btn fs-4" (click)="trocaValorAtivo(servico.id,servico.inativo)">
                      <i class="bi bi-x-circle" *ngIf="this.mostraOlho == true" id="icone-x"></i>
                      <i class="bi bi-check-circle" *ngIf="this.mostraOlho == false" id="icone-check"></i>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="colunasServicos"></tr>
                <tr mat-row *matRowDef="let row; columns: colunasServicos"></tr>
              </table>
            </div>
          </mat-tab>

          <mat-tab label="Guias">
            <table mat-table [dataSource]="dataSourceGuias">
              <ng-container matColumnDef="numeroGuia">
                <th mat-header-cell *matHeaderCellDef class="text-center" id="guia">
                  Número Guia
                </th>
                <td mat-cell *matCellDef="let plantao" class="text-center">
                  {{ plantao.Id }}
                </td>
              </ng-container>

              <ng-container matColumnDef="nomeBeneficiario">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Nome Beneficiário
                </th>
                <td mat-cell *matCellDef="let plantao" class="text-center">
                  {{ plantao.NomeBeneficiario }}
                </td>
              </ng-container>

              <ng-container matColumnDef="prontuario">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Prontuario
                </th>
                <td mat-cell *matCellDef="let plantao" class="text-center">
                  {{ plantao.Prontuario }}
                </td>
              </ng-container>

              <ng-container matColumnDef="tipoGuia">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Tipo Guia
                </th>
                <td mat-cell *matCellDef="let plantao" class="text-center">
                  {{ plantao.TipoGuia }}
                </td>
              </ng-container>

              <ng-container matColumnDef="apelido">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Operadora
                </th>
                <td mat-cell *matCellDef="let plantao" class="text-center">
                  {{ plantao.Apelido }}
                </td>
              </ng-container>

              <ng-container matColumnDef="statusAtendimento">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                  Status Guia
                </th>
                <td mat-cell *matCellDef="let plantao" class="text-center">
                  {{ plantao.StatusAtendimentoDisplay }}
                </td>
              </ng-container>

              <ng-container matColumnDef="devolver">
                <th mat-header-cell *matHeaderCellDef class="text-center">
                </th>
                <td mat-cell *matCellDef="let plantao" class="text-center">
                  <span class="ms-3 mt-5">
                    <app-spinner></app-spinner>
                  </span>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="colunasGuias"></tr>
              <tr mat-row *matRowDef="let row; columns: colunasGuias"></tr>
            </table>
          </mat-tab>

          <!-- <mat-tab label="Documentos Conta">
            <app-documentos-conta [numeroConta]="this.nroConta"></app-documentos-conta>
          </mat-tab> -->
        </mat-tab-group>
      </mat-tab>

      <mat-tab label="Motivo Pendência" *ngIf="idConta !== undefined">
        <app-motivo-pendencia [idConta]="this.idConta"></app-motivo-pendencia>
      </mat-tab>

      <!-- CTI e Santa lucia Sul -->
      <mat-tab label="Serviços" *ngIf="(this.unidadeAtendimento == 8 || this.unidadeAtendimento == 11) && this.idCobranca">
        <app-servicos-cti [idConta]="this.idConta" [idCobranca]="this.idCobranca" [idAcomodacao]="this.idAcomodacao" (plantoesRecebidos)="obterPlantoesDaConta(0,$event)" (servicosRecebidos)="obterServico(0,this.idCobranca,$event)"></app-servicos-cti>
      </mat-tab>
      <!-- ________________________________________________________________________________________________________________________ -->
    </mat-tab-group>
  </div>
</body>
